<strong>{{student}} </strong>
<p>Abaixo os detalhes de seu pedido de ajuda e a resposta de nossa equipe!</p>
<p>
  <strong>Pergunta:</strong>{{ question }} <br />
  <strong>Resposta:</strong>{{ answer }}<br />
  <small>
    Caso tenha mais alguma pergunta, ficaremos a disposição para respondê-lo(a)!
  </small>
</p>
